<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tit Tac Toe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" href="\static\home.css">
</head>
<body>
    <div class="container">
        <h1>AI Enabled Tic Tac Toe Game </h1>
    </div>
    <div class="name">
        By Syed Atheequr Rahaman
        <div class="source">
            <a href="https://github.com/Atheeq1821/Monte_Carlo-tictactoe-"> Source Code</a>
            <a href="https://github.com/Atheeq1821"> Github Profile</a>
        </div>
    </div>
    <div class="difficulty">
        <div class="btn">
            <a href="/start/100">EASY</a>
        </div>
        <div class="btn">
            <a href="/start/1000">MEDIUM</a>
        </div>
        <div class="btn">
            <a href="/start/5000">HARD</a>
        </div>
    </div>
</body>
</html>